@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    background-color: black;
    background: url(cinema.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 14em;
}
header a{
    font-size: 1.1rem;
    /* margin-right: 8em; */
    background-color: rgb(223, 223, 223);
    text-decoration: none;
    padding: 1rem 2rem;
    color: bisque;
    border-radius: 4px;
    color: black;
    transition: 0.3s background-color ease-in;
}
header a:hover{
    background-color: rgb(255, 255, 255);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 600px) {
    .header{
        flex-direction: column;
        justify-content: space-evenly;
    }

    header a{
        margin-top: 2em;
    }
}


/* Results */

.result__list{
    margin-top: 3em;
}
.result{
    display: flex;
    align-items: center;
    margin: 1em 0;
}
.img-div{
    width: 12em;
    /* margin: 0 auto; */
    text-align: center;
}
.result__img{
    display: inline;
    max-width: 12em;
    height: 15.5em;
    border-radius: 8px;
    margin-right: 4em;
    
}
.result__info__details__genre{
    margin: 0 1em;
}
.result__info__header__moviename{
    display: inline-block;
    margin-right: 1em;
}
.watchlist-label{
    cursor: pointer;
}
.watchlist-label:hover, .watchlist-label:focus{
    color: rgb(117, 158, 170);
}
#watchlist{
    display: none;
}
.result__info__details{
    margin: 1.1em 0;
}
.default{
    margin: 0 auto;
    padding-top: 10em;
    text-align: center;
    color: gray;
}
.default h3{
    font-size: 1.8rem;
    margin-bottom: 1em;
}
.explore{
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.explore a:hover{
    color: lightcoral;
}